.appointment-container {
    min-height: 100vh;
    background-position: center;
    
}

.appointment-col {
    background-color: rgba(255, 0, 0, 0.4);
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.appointment-card {
    background-color: #666;
}

.hidden {
    display: none;
}