.card {
    width: 18rem;
}

.card-img {
    width: 80%;
    border-radius: 0.5rem;
    margin: 20px auto;
    padding: 10px;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.card-text {
    color: #6c757d;
    line-height: 1.6;
}

.list-group {
    margin: 0 20px;
    border-radius: 0.5rem;
}

.list-group-item {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}