.errorPage {
    background: linear-gradient(to right, black, red);
    min-height: 100vh;
    width: 100%;
    margin: auto;
    padding: auto;
}

.errorRow {
    background-color: #222;
    border-radius: 20px;
}