.card {
    border-radius: 15px;
    font-size: 2em;
    background-color: rgba(255, 0, 0, 0.4);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.card-hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.global-settings-card {
    background-color: #808080;
}

.global-settings-card-hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.icon {
    color: #ffffff;
    font-size: 2em;
    transition: color 0.3s ease-in-out;
}